@{
    ViewBag.Title = "Kontakt";
}

    <h2>@ViewBag.Title</h2>
    @*<h3>@ViewBag.Message</h3>*@


    <address>
        Klarabergsviadukten 70,<br />
        Box 863, 101 37 STOCKHOLM<br />
        <br />
        <a href="mailto:info@lexicon.se">info@lexicon.se</a><br />
        Tel: 08-566 107 00<br />
        Fax: 08-566 107 01
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@lexicon.se">Support@lexicon.se</a><br />
        <strong>Marknad:</strong> <a href="mailto:Marketing@lexicon.se">Marketing@lexicon.se</a>
    </address>


